<div class="content">
    <div class="reset-section">
        <div class="head">
            <h5 class="title">Please enter your email address to get a link to change your password</h5>
        </div>
        <div class="error-msg" *ngIf="errorMsg">
            {{errorMsg}}
        </div>

        <form [formGroup]="this.auth.resetPasswordForm" *ngIf="!submitted else elseBlock" (ngSubmit)="resetPassword()">
            <!-- {{ this.auth.resetPasswordForm.value | json }} -->
            <!-- {{this.auth.resetPasswordForm.valid}} -->
            <input type="email" formControlName="email" placeholder="Email address"
                [ngClass]="{'is-invalid': this.auth.resetEmail.invalid && this.auth.resetEmail.touched}">
            <div *ngIf="this.auth.resetEmail.invalid && this.auth.resetEmail.touched">
                <small *ngIf="this.auth.resetEmail.errors?.required" class="text-danger">Your email is required</small>
            </div>
            <button type="submit" [disabled]="this.auth.resetPasswordForm.invalid">Submit</button>
        </form>
        <ng-template #elseBlock>
            <p>Kindly check your email for your password reset instructions</p>
        </ng-template>

    </div>
</div>