<div class="content">
    <h5>1. Personal Loans</h5>
    <ul class="content-wrapper">
        <div class="details">
            <li class="loan-subtype">a. Personal Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Employed Kenyan Adult above 18
                    years</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 5, 000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>36 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Copy of National ID and KRA Pin<span class="asterix">*</span> </li>
                    <li>Latest 3 months Pay slips<span class="asterix">*</span> </li>
                    <li>6 Months certified Bank Statements<span class="asterix">*</span> </li>
                    <li>Letter of Introduction from Employer<span class="asterix">*</span> </li>
                    <li>Letter of Undertaking from Employer<span class="asterix">*</span> </li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">b. Temporary Short Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Employed Kenyan Adult above 18
                    years</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 100,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>1 month</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Copy of National ID and KRA Pin<span class="asterix">*</span> </li>
                    <li>Latest 3 months Pay slips<span class="asterix">*</span> </li>
                    <li>6 Months certified Bank Statements<span class="asterix">*</span> </li>
                    <li>Letter of Introduction from Employer<span class="asterix">*</span> </li>
                    <li>Letter of Undertaking from Employer<span class="asterix">*</span> </li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">c. Insurance Premium Finance</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Employed Kenyan Adult above 18
                    years</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 500,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>12 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Copy of National ID and KRA Pin<span class="asterix">*</span> </li>
                    <li>Latest 3 months Pay slips<span class="asterix">*</span> </li>
                    <li>6 Months certified Bank Statements<span class="asterix">*</span> </li>
                    <li>Letter of Introduction from Employer<span class="asterix">*</span> </li>
                    <li>Letter of Undertaking from Employer<span class="asterix">*</span> </li>
                    <li>Copy of the insurance policy document<span class="asterix">*</span> </li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>
    </ul>

    <h5>2. Business Loans</h5>
    <ul class="content-wrapper-2">
        <div class="details">
            <li class="loan-subtype">a. Trade Finance Short-Term Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 20,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>5 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns</li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors<span class="asterix">*</span> </li>
                    <li>Copy & Original Signed letter of Undertaking<span class="asterix">*</span> </li>
                    <li>Copy of signed bank transfer forms<span class="asterix">*</span> </li>
                    <li>Copy and Original of issued LPO document<span class="asterix">*</span> </li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">b. Short Term Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 10,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>12 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships) <span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns</li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months<span class="asterix">*</span> </li>
                    <li>Latest Ageing Reports for Debtors and Creditors<span class="asterix">*</span> </li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">c. Long Term Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 50,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>24 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns<span class="asterix">*</span> </li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors</li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">d. Asset Finance Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 5,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>36 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns<span class="asterix">*</span> </li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span></li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors</li>
                    <li>Asset Log Book Copy<span class="asterix">*</span></li>
                    <li>Asset Valuation Report<span class="asterix">*</span></li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">e. Mortgage Loan</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 50,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>120 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns<span class="asterix">*</span> </li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors</li>
                    <li>Either Copy of Title Deed proposed as security OR Copy of Title Deed proposed as security<span
                            class="asterix">*</span></li>
                    <li>Copy of latest land rent and rates payment<span class="asterix">*</span></li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">f. Bank Guarantee</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 20,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>12 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns<span class="asterix">*</span> </li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors</li>
                    <li>Signed Directors Personal Guarantee document<span class="asterix">*</span></li>
                    <li>Copy & Original Signed letter of Undertaking<span class="asterix">*</span></li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">g. Invoice Discounting</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 10,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>3 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns<span class="asterix">*</span> </li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors</li>
                    <li>Copy of the invoices and originals delivered to the office<span class="asterix">*</span></li>
                    <li>Copy & Original Signed letter of Undertaking<span class="asterix">*</span></li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>

        <div class="details">
            <li class="loan-subtype second">h. Cheque Discounting</li>
            <div>
                <span class="subtype_details"><span class="sub">Eligibility: </span>Registered Business in
                    Kenya</span><br>
                <span class="subtype_details"><span class="sub">Maximum Loan Amount: </span>KES. 10,000,000</span><br>
                <span class="subtype_details"><span class="sub">Maximum Repayment period: </span>3 months</span><br>
                <span class="subtype_details"><span class="sub">Interest rate: </span>5% p.m</span><br>
                <span class="subtype_details"><span class="sub">Requirements:</span></span><br>
                <ul>
                    <li>Certificate of Incorporation and Memorandum and Articles of Association (Companies)<span
                            class="asterix">*</span> </li>
                    <li>Business Registration Certificate and Partnership Deed (Sole Proprietors/Partnerships)<span
                            class="asterix">*</span> </li>
                    <li>Latest CR 12<span class="asterix">*</span> </li>
                    <li>Company /Business KRA PIN<span class="asterix">*</span> </li>
                    <li>Directors’/ Partner’s/ Sole Proprietor’s IDs and KRA PINs<span class="asterix">*</span> </li>
                    <li>Latest Annual Returns<span class="asterix">*</span> </li>
                    <li>Latest 6 months Bank Statements<span class="asterix">*</span> </li>
                    <li>Audited Accounts for the last 3 years and latest Management Accounts<span
                            class="asterix">*</span> </li>
                    <li>Cash Flow Projections for the next 12 months</li>
                    <li>Latest Ageing Reports for Debtors and Creditors</li>
                    <li>Original signed Cheque<span class="asterix">*</span></li>
                    <li>Indemnity Letter by the Customer<span class="asterix">*</span></li>
                </ul>
                <span><span class="asterix">*</span><i>- Compulsory</i></span><br>
            </div>
        </div>
    </ul>

    <h5 class="table-head">OTHER ACCEPTABLE COLLATERAL</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">COLLATERAL TYPE</th>
                <th scope="col">COLLATERAL DOCUMENTATION REQUIRED</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Land</td>
                <td>
                    <span>1. Copy of Title Deed proposed as security </span><br>
                    <span>2. Copy of latest land rent and rates payment</span>
                </td>
            </tr>
            <tr>
                <td>Property and Buildings</td>
                <td>
                    <span>1. Copy of Title Deed proposed as security</span><br>
                    <span>2. Copy of latest land rent and rates payment</span>
                </td>
            </tr>
            <tr>
                <td>Shares</td>
                <td>List of shares from Stock Broker and CDS Statement (where applicable)</td>
            </tr>
            <tr>
                <td>Chattels /Charge over Movable Assets (Motor Vehicle, Machinery, other assets</td>
                <td>Copy of Logbook and Valuation report proposed as security</td>
            </tr>
            <tr>
                <td>Directors Personal Guarantee</td>
                <td>Signed Directors Personal Guarantee document</td>
            </tr>
            <tr>
                <td>Joint Registration of Motor Vehicle</td>
                <td>
                    <span>Copy of vehicle log book</span><br>
                    <span>Signed Sales agreement</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>