<div class="content">
    <div class="navigation">
        <div class="logo">
            <img src="../../../../assets/images/edge_three_sixty_logo.jpg" alt="">
        </div>
        <div class="links">
            <div class="links__1">
                <ul>
                    <li><a [routerLink]="['forgot-password']" routerLinkActive="router-link-active">Forgot Password</a></li>
                </ul>
            </div>
            <div class="links__2">
                <ul>
                    <li><a [routerLink]="['login']" routerLinkActive="router-link-active">Login</a></li>
                    <li><a [routerLink]="['sign-up']" routerLinkActive="router-link-active">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>