:host {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }

    > .mat-list-base .mat-subheader {
        font-size: 1.3em;
        font-weight: bolder;
    }

    .profile-card {
        text-align: center;
        padding: 0 20px 20px 20px;

        h2,
        h4,
        h5 {
            font-weight: bolder;
        }
        h2 {
            font-size: 1.5em;
        }
        h4 {
            font-size: 0.99em;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
