tr {
    cursor: pointer;
}

.content {
    padding: 10px;

    span {
        font-size: 1.3em;
        font-weight: bolder;
    }
}
table{
    width: 100%;
    font-family: "Montserrat";
}

.user_alert{
  margin: auto;
  width: fit-content !important;
}
