@import "../../../../color";
@import "../../../../shadow";

.text-danger {
    color: red;
}
.asterix {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.is-invalid {
    border: 5px solid yellow;
}

button:disabled {
    cursor: not-allowed;
    background: #ccc;
}

h3 {
    font-weight: bolder;
}

.content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: $border-top;

    input[type="submit"] {
        background-color: $primary;
        color: white;
        border: 0;
        border-radius: 5px;
        padding: 10px 25px;
        font-weight: bold;
        margin: 10px 0;
        cursor: pointer;
    }
    form {
        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="email"],
        select,
        option {
            width: 30%;
            padding: 12px 20px;
            margin: 10px 0;
            display: block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .attendance {
            display: flex;
            flex-direction: row;
            > input {
                margin: 5px;
            }
        }

        .danger {
            background-color: red;
        }

        .date-picker {
            display: flex;
            flex-direction: row;
        }
    }
}
