<div class="lenderprofilenav">
  <h3>All Lender Profiles</h3>
  <a [routerLink]="['../../createlenderprofile']" routerLinkActive="router-link-active">+ Add Lender Profile</a>
</div>

<div class="form-inline search_bar">
  <input type="text" class="form-control mb-2 mr-sm-2" id="search-text" aria-describedby="search-text"
    [(ngModel)]="searchText" placeholder="Search...">
</div>

<div *ngIf="availableLenderProfiles; else noProfiles">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Client #</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let lenderProfile of lenderProfiles">
        <tr class="profile_record" *ngIf="filterCondition(lenderProfile)" (click)="onSelect(lenderProfile)">
          <th scope="row">{{lenderProfile.name}}</th>
          <td>{{lenderProfile.id}}</td>
          <td>Active</td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>

<ng-template #noProfiles>
  <div class="alert alert-info user_alert" role="alert">
    There are no Lender Profiles!
  </div>
</ng-template>
