@import "../../../../color";
@import "../../../../shadow";

.text-danger {
    color: red;
}
.asterix {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.mat-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

h3 {
    font-weight: bolder;
    margin-top: 20px;
}

.back_nav {
    text-decoration: none;
    background-color: $primary;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 7px 15px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.edit_nav {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    text-decoration: none;
    background-color: $primary;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 7px 15px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    flex-wrap: wrap;

    .edit_section{
        // width: 50%;
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
    }

    .edit_content {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        width: 100%;
        border-top: $border-top;

        input[type="submit"],
        input[type="button"] {
            background-color: $primary;
            color: white;
            border: 0;
            border-radius: 5px;
            padding: 10px 25px;
            font-weight: bold;
            margin: 10px 0;
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
                background: #ccc;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            input[type="text"],
            input[type="number"],
            input[type="date"],
            input[type="email"],
            select,
            option,
            textarea {
                padding: 12px 20px;
                margin: 10px 0;
                display: block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .date-picker {
                display: flex;
                flex-direction: row;
            }

            .danger {
                background-color: red;
            }
        }
    }
}

.button_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}
